.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Keyboard */
.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.row {
  display: inline;
}
.letter {
  margin: 5px;
  border-radius: 4px;
  height: 45px;
  width: 30px;
  text-align: center;
  justify-content: center;
}
.crossed {
  background-color: darkgray;
  text-decoration: line-through;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.menuButton {
  width: 100px;
  height: 45px;
}
